# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# IDE files
.vscode/
.idea/
.python-version

# Dependency directories
venv/
env/
env.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Celery worker log files
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
